<p id="intro">
    Hello, I'm Pat Wilken, a web developer based near Waterloo Ontario.
    Are you looking for someone to build an awesome website? Look no further.
</p>
<header id="home" class="to-about">
    <div class="container">
        <div id="particles-js"></div>
        <div class="intro-text">
            <div class="intro-heading">
                <span class="logo logo-splash">
                    <div>
                        <h1>Pat</h1>
                        <h1>Pat</h1>
                    </div>
                    <div class="full">
                        <h1>Wilken</h1>
                        <h1>Wilken</h1>
                    </div>
                </span>
            </div>
        </div>
    </div>
</header>
<!-- About End -->
<script>Home.Load();</script>
