<div id="timeline">
    <div id="timelineProgressBar"></div>
    <div id="projectListWrapper">
        <button type="button" id="projectList" class="btn btn-pat btn-center toggleProjects">Project List</button>
    </div>
    <ul id="dates">
        <li class="work-link" data-id="1">Zaytion</li>
        <li class="work-link" data-id="2">Jobbee X</li>
        <li class="work-link" data-id="3">Dragons<wbr> of&nbsp;Ramrys</li>
        <li class="work-link" data-id="4">Sober<wbr> Steering</li>
        <li class="work-link" data-id="5">Jobbee</li>
        <li class="work-link" data-id="6">Hammer<wbr> Software</li>
        <li class="work-link" data-id="7">Preteckt</li>
        <li class="work-link" data-id="8">EDSS</li>
        <li class="work-link not-a-link" data-id="100" data-to-type="proj">Personal<wbr>Projects</li>
        <li class="proj-link not-a-link" data-id="1" data-to-type="work">Back</li>
        <li class="proj-link" data-id="100">Address<wbr> Lookup</li>
        <li class="proj-link" data-id="101">Lat/Lng<wbr> Visualizer</li>
        <li class="proj-link" data-id="102">IP Lookup</li>
        <li class="proj-link" data-id="103">Time<wbr> Calculator</li>
        <li class="proj-link" data-id="104">Tally</li>
        <li class="proj-link" data-id="105">Colour<wbr> Tester</li>
        <li class="proj-link" data-id="106">Text<wbr> Modifier</li>
        <li class="proj-link" data-id="107">Colour<wbr> Palette</li>
        <i id="closeProjectList" class="fa fa-times toggleProjects"></i>
    </ul>
    <div id="item-wrapper">
        <div id="items">
            <div id="1" class="item work-item">
                <h2>Zaytion</h2>
                <h4>Role: Web Developer</h4>
                <img src="assets/img/projects/zaytion.png" />
                <div class="details">
                    <p><b>Zaytion</b> - CMBS Platform</p>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Create Proof of Concept website to be shown to investors</li>
                            <li>Take design session notes</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries Used</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>TypeScript</li>
                            <ul>
                                <li>Angular</li>
                                <li>Bootstrap</li>
                                <li>Handsontable (Data Grid)</li>
                                <li>XLSX (Excel Exporting)</li>
                                <li>Google Maps</li>
                            </ul>
                            <li>Cosmos DB</li>
                        </ul>
                        <p class="just-wrap">Other technology used</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>Visual Studio Team Services</li>
                            <li>Postman</li>
                            <li>OneNote (Documentation)</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="2" class="item work-item">
                <h2>Jobbee X</h2>
                <h4>Role: Lead Developer</h4>
                <img src="assets/img/projects/jobbee-x.png" class="img-phone" />
                <div class="details">
                    <p><b>Jobbee X</b> - E-Commerce Platform</p>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Create mockups of mobile app</li>
                            <li>Design and develop the mobile app</li>
                            <li>Assist with the creation of the backend server</li>
                            <li>Assist with the design and development of the database</li>
                            <li>Assist with the hiring process</li>
                            <li>Create documentation for code base</li>
                            <li>Create landing page for mobile app</li>
                            <li>Design and devlop client administration panel</li>
                            <ul>
                                <li>Assist with the design and development of the backend server</li>
                                <li>Assist with the design and development of the database</li>
                            </ul>
                            <li>Maintain a working demo version of the app, server, and database to be shown to potential investors</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries Used</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>TypeScript</li>
                            <ul>
                                <li>Angular</li>
                                <li>Bootstrap</li>
                                <li>XLSX (Excel Exporting)</li>
                            </ul>
                            <li>HTML & CSS</li>
                            <li>Cordova</li>
                            <li>Node.js</li>
                            <ul>
                                <li>ExpressJS</li>
                            </ul>
                        </ul>
                        <p class="just-wrap">Other technology used</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>GIT (SourceTree/BitBucket)</li>
                            <li>Balsamiq Mockups</li>
                            <li>CompDoc</li>
                            <li>Adobe Illustrator</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="3" class="item work-item">
                <h2>Dragons of Ramrys</h2>
                <h4>Role: Web Developer / Consultant</h4>
                <img src="assets/img/projects/dragons-of-ramrys.png">
                <div class="details">
                    <b>Urban Dragon Entertainment</b> - Indie Game Studio<br><br>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Create a simple landing page that explains the game</li>
                            <li>Assist other developers where possible on the game itself</li>
                            <li>Setup and maintain GIT repositories</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                        <p class="just-wrap">Other technology used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>GIT (SourceTree/BitBucket)</li>
                            <li>Adobe PhotoShop</li>
                            <li>Unity</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="4" class="item work-item">
                <h2>Sober Steering</h2>
                <h4>Role: Web Developer</h4>
                <img src="assets/img/projects/sober-steering.png">
                <div class="details">
                    <p><b>Sober Steering</b> - Fleet Management</p>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Maintain/Update previous website features</li>
                            <li>Create new website features</li>
                            <li>Create Proof of Concept features to be shown to investors</li>
                            <li>Create mockups to be shown to investors</li>
                            <li>Take design session notes, recompile and distribute to team</li>
                            <li>Assist backend team (Java, MySQL) when needed</li>
                            <li>Create and implement a QA Testing strategy</li>
                            <li>Create a system-wide monitoring server (including call, SMS, and email alerts)</li>
                            <li>Assist in the design of the mobile app (also create mockups of designs)</li>
                            <li>Create all documentation for mobile app</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>AngularJS</li>
                                <li>jQuery</li>
                                <li>Leaflet.js</li>
                                <li>Bootstrap</li>
                                <li>XLSX (Excel Exporting)</li>
                            </ul>
                            <li>HTML & CSS</li>
                            <li>MySQL</li>
                            <li>C#</li>
                            <li>Twilio (Voice call, SMS)</li>
                            <li>Java</li>
                            <ul>
                                <li>JSP</li>
                            </ul>
                        </ul>
                        <p class="just-wrap">Other technology used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>GIT (SourceTree/BitBucket)</li>
                            <li>Balsamiq Mockups</li>
                            <li>Adobe Illustrator</li>
                            <li>Adobe PhotoShop</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="5" class="item work-item">
                <h2>Jobbee</h2>
                <h4>Role: Web Developer</h4>
                <img src="assets/img/projects/jobbee.png">
                <div class="details">
                    <b>Jobbee</b> - Online/Mobile Marketplace<br><br>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Create mobile app from the ground up</li>
                            <li>Assist with the development of the backend server</li>
                            <li>Assist with the design and development of the database</li>
                            <li>Create and implement development standards</li>
                            <li>Create documentation for mobile app</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>Leaflet.js</li>
                            </ul>
                            <li>HTML & CSS</li>
                            <li>Node.js</li>
                            <ul>
                                <li>ExpressJS</li>
                            </ul>
                            <li>PhoneGap / Apache Cordova</li>
                            <li>MySQL</li>
                        </ul>
                        <p class="just-wrap">Other technology used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>GIT (SourceTree/BitBucket)</li>
                            <li>Adobe Illustrator</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="6" class="item work-item">
                <h2>Hammer Software</h2>
                <h4>Role: Web Developer</h4>
                <img src="assets/img/projects/hammer-software.png">
                <div class="details">
                    <b>Hammer Software</b> - Office Automation<br><br>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Create a Proof of Concept site to show potential customers</li>
                            <li>Refine styles on main website</li>
                            <li>Create web portal to manage dispatch system</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>HTML & CSS</li>
                            <li>Bootstrap</li>
                            <li>JavaScript</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="7" class="item work-item">
                <h2>Preteckt</h2>
                <h4>Role: Web Developer</h4>
                <img src="assets/img/projects/preteckt.png">
                <div class="details">
                    <b>Preteckt</b> - Predictive Maintenance<br><br>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Support the full-time developers</li>
                            <li>Create a method to go back in time on a timeline graph</li>
                            <li>Find & track issues</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>D3.js</li>
                            </ul>
                            <li>HTML</li>
                        </ul>
                        <p class="just-wrap">Other technology used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>GIT (GitLab)</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="8" class="item work-item">
                <h2>Elmira District Secondary School</h2>
                <h4>Role: Web Developer</h4>
                <img src="assets/img/projects/edss.png">
                <div class="details">
                    <b>Elmira District Secondary School</b> - Education<br><br>
                    <span>
                        <p class="just-wrap">Task Description</p>
                        <ul>
                            <li>Create a unique feel for the website while still working within the constraints of the school boards Wordpress template</li>
                            <li>Create department-specific pages</li>
                            <li>Create a banner for each department (using the school colours)</li>
                            <li>Create multiple online and hard copy tutorials on how to change various aspects of the website</li>
                            <li>Meet with department heads to discuss page content</li>
                        </ul>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>WordPress</li>
                            <li>HTML & CSS</li>
                        </ul>
                        <p class="just-wrap">Other technology used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>Adobe Illustrator</li>
                            <li>Adobe PhotoShop</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="100" class="item proj-item">
                <h2>Address Lookup</h2>
                <h4></h4>
                <img src="assets/img/projects/address-lookup.png">
                <a class="btn btn-pat" href="https://address.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Create points on a map by clicking, get the address of the locations.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>LeafletJS</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="101" class="item proj-item">
                <h2>Lat/Lng Visualizer</h2>
                <h4></h4>
                <img src="assets/img/projects/lat-lng-visualizer.png">
                <a class="btn btn-pat" href="https://latlng.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Paste a list of latitude and longitude sets, visualize points on a map.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>LeafletJS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="102" class="item proj-item">
                <h2>IP Lookup</h2>
                <h4></h4>
                <img src="assets/img/projects/ip-lookup.png">
                <a class="btn btn-pat" href="https://ip.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Gather as much information as possible based on an IP and/or device location.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>LeafletJS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                        <p class="just-wrap">Other technology used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>REST API</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="103" class="item proj-item">
                <h2>Time Calculator</h2>
                <h4></h4>
                <img src="assets/img/projects/time-calculator.png">
                <a class="btn btn-pat" href="https://time.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Calculate the difference between two dates & times.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>MomentJS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="104" class="item proj-item">
                <h2>Tally</h2>
                <h4></h4>
                <img src="assets/img/projects/tally.png">
                <a class="btn btn-pat" href="https://tally.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Simple tally mark recorder.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>Bootstrap</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="105" class="item proj-item">
                <h2>Colour Tester</h2>
                <h4></h4>
                <img src="assets/img/projects/colour-tester.png">
                <a class="btn btn-pat" href="https://colour.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Visualize colours, covert colour values.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                                <li>Bootstrap</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="106" class="item proj-item">
                <h2>Text Modifier</h2>
                <h4></h4>
                <img src="assets/img/projects/text-modifier.png">
                <a class="btn btn-pat" href="https://text.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Modify text (remove whitespace, remove paragraphs, etc) and use custom regular expressions.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                            </ul>
                            <li>HTML & CSS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div id="107" class="item proj-item">
                <h2>Colour Palette</h2>
                <h4></h4>
                <img src="assets/img/projects/colour-palette.png">
                <a class="btn btn-pat" href="https://palette.patwilken.me/" target="_blank">Visit Website</a>
                <div class="details">
                    <br>
                    <span>
                        <p class="just-wrap">Purpose:</p>
                        <p>Generate a custom colour palette.</p>
                    </span>
                    <span>
                        <p class="just-wrap">Languages/Libraries used:</p>
                        <i>Ordered by most used.</i>
                        <ul>
                            <li>JavaScript</li>
                            <ul>
                                <li>jQuery</li>
                            </ul>
                            <li>HTML & CSS</li>
                            <li>HTML5 Canvas</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>MyWork.Load();</script>
