<div class="container">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" id="mobile-menu-open">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#home">
            <span class="logo logo-nav">
                <div>
                    <h1>P</h1>
                    <h1>P</h1>
                </div>
                <div class="initials">
                    <h1>W</h1>
                    <h1>W</h1>
                </div>
            </span>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-full">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden"><a href="#page-top"></a></li>
            <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
            <li><a href="#my-work"><i class="fa fa-folder"></i> My Work</a></li>
            <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
        </ul>
    </div>
    <div class="navbar-mobile">
        <button type="button" class="navbar-toggle" id="mobile-menu-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#my-work">My Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
<div id="border"></div>
<script>Nav.Load()</script>
